.app{
  background-color:rgb(228, 228, 225);
  min-height: 800px;
  max-height: 100%;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

.card {
  margin-bottom: 20px;

}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  margin-top: 5px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item:last-child {
  margin-bottom: 0;
}

.btn {
  margin-right: 10px;
}
